<?xml version="1.0"?>
<config>
	<modules>
		<Born_Flatshipping>
			<version>1.1.6</version>
		</Born_Flatshipping>
	</modules>
	<default>
		<carriers>
			<flatshipping>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<model>flatship/carrier_flatshipping</model>
				<name>Flat ShippingRates</name>
				<title>Flat ShippingRates</title>
				<specificerrmsg>Sorry,FlatShipping is currently unavailable..</specificerrmsg>
				<handling_type>F</handling_type>
			</flatshipping>
		</carriers>
	</default>
	<global>
		<models>
			<flatship>
				<class>Born_Flatshipping_Model</class>
			</flatship>
		</models>
	</global>
</config>